.col-6{
    text-align:left;
}
.err{
    color: red;
}
.position_out{
    position: relative;
}
.btn-primary{
position: absolute;
top: 1px;
left: 16px;
z-index: 1;
}
.editStaff{
    text-align: left;
}